.cs__sliders-gfx {
  display: block;
  width: 100%;
  height: 100%;
}

.cs__info {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cs__info-legend {
  display: inline-block;
  width: 20px;
  height: 10px;
}

.cs__slider,
.cs__slider-decor { fill: none; }

.cs__slider-decor { stroke: #cecece; }

.cs__sliders { position: relative; }
.cs__sliders-surface {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
